/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/js/**/*.js
/public/js/**/*.txt
/public/css/**/*.css
/public/fonts/**/*.ttf
/public/mix-manifest.json
