@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 3px;
    background-color: #fff;
    animation: blinking-cursor-anim 1s step-end infinite;
    -webkit-animation: blinking-cursor-anim 1s step-end infinite;
}

.floating {
    transform: translateY(-15px);
    animation: floating-anim 5s ease-in-out infinite;
    -webkit-animation: floating-anim 5s ease-in-out infinite;
}

.timeline-content {
    opacity: 0;
    transform: translateY(30px);
    transition: all 500ms ease-out;
}

.timeline-shown {
    opacity: 1;
    transform: translateY(0px);
}

@keyframes floating-anim {
    0%, 100% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0px);
    }
}

@keyframes blinking-cursor-anim {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
